.SongList {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    overflow-y: scroll;
    flex: 1;
}
.SongList::-webkit-scrollbar {
    display: none;
}

@media (max-width: 550px) {
    .SongList {
        padding: 0 10px 50px 10px;
        font-size: 12px;
    }
}