.FavoriteCover {
    height: 220px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin: 10px;

}
.FavoriteCover img {
    height: 50px;
    width: 50px;
}

.FavoriteCover:hover {
    transform: scale(1.1);
}
 
@media (max-width: 500px) {
    .FavoriteCover {
        width: 150px;
    }
}