.Authentication {
    height: 90vh;
    width: 100%;
    background-color: black;
}

.Authentication .logo {
    position: fixed;
    z-index:200;
    width:90px;
    left: 20px;
    top: 10px;
}

.Authentication .background {
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    filter: blur(2px) brightness(40%);
}


@media (max-width: 500px) {
    .Authentication .background {
        filter: brightness(30%);
    }
}

