.SongListElement {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
}
.SongListElement:hover  {
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
}
.SongListElement img {
    height: 50px;
    margin: 0 20px 0 10px
}
.SongListElement p {
    flex: 2;
    text-align: left;
    padding: 0 5px;
}
.SongListElement img.favorite-icon-yes,
.SongListElement img.favorite-icon-no {
    height: 25px;
    margin-top: 10px;
}
.SongListElement img.favorite-icon-no  {
    filter: invert(100%);
}

.SongListElement.currently-playing {
    color:black;
    background-color: #009FDC;
    border-radius: 5px;
}